src/main/resources/wsdl/recepcionCFE.wsdl

<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:ns0="http://dgi.gub.uy"
        xmlns:xsns="http://dgi.gub.uy"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
        xmlns:dpe="http://docs.oasis-open.org/ws-sx/ws-policy/200512"
        xmlns:dppolicy="http://docs.oasis-open.org/ws-sx/ws-policy/200512"
        targetNamespace="http://dgi.gub.uy" >

    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="ws_eprueba.xsd1.xsd" namespace="http://dgi.gub.uy"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="WS_eFactura.EFACCONSULTARESTADOENVIOSoapIn">
        <wsdl:part name="parameters" element="xsns:WS_eFactura.EFACCONSULTARESTADOENVIO"/>
    </wsdl:message>
    <wsdl:message name="WS_eFactura.EFACCONSULTARESTADOENVIOSoapOut">
        <wsdl:part name="parameters" element="xsns:WS_eFactura.EFACCONSULTARESTADOENVIOResponse"/>
    </wsdl:message>
    <wsdl:message name="WS_eFactura.EFACRECEPCIONREPORTESoapIn">
        <wsdl:part name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONREPORTE"/>
    </wsdl:message>
    <wsdl:message name="WS_eFactura.EFACRECEPCIONREPORTESoapOut">
        <wsdl:part name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONREPORTEResponse"/>
    </wsdl:message>
    <wsdl:message name="WS_eFactura.EFACRECEPCIONSOBRESoapIn">
        <wsdl:part name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONSOBRE"/>
    </wsdl:message>
    <wsdl:message name="WS_eFactura.EFACRECEPCIONSOBRESoapOut">
        <wsdl:part name="parameters" element="xsns:WS_eFactura.EFACRECEPCIONSOBREResponse"/>
    </wsdl:message>
    <wsdl:portType name="WS_eFacturaSoapPort">
        <wsdl:operation name="EFACCONSULTARESTADOENVIO">
            <wsdl:input name="EFACCONSULTARESTADOENVIORequest" message="ns0:WS_eFactura.EFACCONSULTARESTADOENVIOSoapIn"/>
            <wsdl:output name="EFACCONSULTARESTADOENVIOResponse" message="ns0:WS_eFactura.EFACCONSULTARESTADOENVIOSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="EFACRECEPCIONREPORTE">
            <wsdl:input name="EFACRECEPCIONREPORTERequest" message="ns0:WS_eFactura.EFACRECEPCIONREPORTESoapIn"/>
            <wsdl:output name="EFACRECEPCIONREPORTEResponse" message="ns0:WS_eFactura.EFACRECEPCIONREPORTESoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="EFACRECEPCIONSOBRE">
            <wsdl:input name="EFACRECEPCIONSOBRERequest" message="ns0:WS_eFactura.EFACRECEPCIONSOBRESoapIn"/>
            <wsdl:output name="EFACRECEPCIONSOBREResponse" message="ns0:WS_eFactura.EFACRECEPCIONSOBRESoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_eFacturaSoapBinding" type="ns0:WS_eFacturaSoapPort">
        <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="EFACCONSULTARESTADOENVIO">
            <soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA.EFACCONSULTARESTADOENVIO" style="document"/>
            <wsdl:input name="EFACCONSULTARESTADOENVIORequest">
                <soap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="EFACCONSULTARESTADOENVIOResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EFACRECEPCIONREPORTE">
            <soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA.EFACRECEPCIONREPORTE" style="document"/>
            <wsdl:input name="EFACRECEPCIONREPORTERequest">
                <soap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="EFACRECEPCIONREPORTEResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EFACRECEPCIONSOBRE">
            <soap11:operation soapAction="http://dgi.gub.uyaction/AWS_EFACTURA.EFACRECEPCIONSOBRE" style="document"/>
            <wsdl:input name="EFACRECEPCIONSOBRERequest">
                <soap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="EFACRECEPCIONSOBREResponse">
                <soap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_eFactura">
        <wsp:PolicyReference URI="#policy0"/>
        <wsdl:port name="WS_eFacturaSoapPort" binding="ns0:WS_eFacturaSoapBinding">
            <soap11:address location="https://efactura.dgi.gub.uy:6443/ePrueba/ws_eprueba"/>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="policy0">
        <wsp:ExactlyOne>
            <wsp:All>
                <dpe:summary>
                    <dppolicy:domain>
                        http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512
                    </dppolicy:domain>
                    <description>
                        Implements WS Security Policy 1.1 - support SignedParts
                    </description>
                </dpe:summary>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>